<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>image gallery</title>
    <link rel="stylesheet" href="../styles/buttonstyling.css">
    <link rel="stylesheet" href="../styles/pagestyling.css">
    <link rel="stylesheet" href="../styles/imgstyling.css">
</head>
<body>
<div class="top-bar">
    <div class="title">
    <h1>AWERDDev</h1>
</div>
</div>
<div class="body">
    <div class="Search-Engine-container">
        <form action="/DevTest">
        <input type="search" class="Search-bar"name="search"placeholder="Search">
        <button class="search-button"name="search-btn">Search</button>
    </div>
</form>
    <div class="img-Display"></div>
</div>
<div class="bottom"></div>
<script src="../tools/SearchEngine.js"></script>
</body>
</html>